* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
}
#screen {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {
  width: 100%;
  height: 124px;
  background: rgba(119,141,163,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4 {
  width: 100%;
  height: 2px;
  background: rgba(119,141,163,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 0px;
  overflow: hidden;
}
.v2_5 {
  width: 100%;
  height: 736px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 52px;
  border: 3px solid rgba(119,141,163,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v3_4 {
  width: 242px;
  height: 50px;
  background: url("../images/v3_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 61px;
  overflow: hidden;
}
.v3_2 {
  width: 242px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(119,141,163,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_3 {
  width: 212px;
  color: rgba(119,141,163,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_20 {
  width: 242px;
  height: 50px;
  background: url("../images/v3_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 334px;
  overflow: hidden;
}
.v3_21 {
  width: 242px;
  height: 50px;
  background: rgba(119,141,163,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(119,141,163,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_22 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_23 {
  width: 242px;
  height: 50px;
  background: url("../images/v3_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 408px;
  overflow: hidden;
}
.v3_24 {
  width: 242px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(119,141,163,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_25 {
  width: 212px;
  color: rgba(119,141,163,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_26 {
  width: 242px;
  height: 50px;
  background: url("../images/v3_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 134px;
  overflow: hidden;
}
.v3_27 {
  width: 242px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(119,141,163,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_28 {
  width: 212px;
  color: rgba(119,141,163,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_29 {
  width: 242px;
  height: 50px;
  background: url("../images/v3_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 139px;
  overflow: hidden;
}
.v3_30 {
  width: 242px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(119,141,163,1);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_31 {
  width: 212px;
  color: rgba(119,141,163,1);
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_32 {
  width: 869px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 61px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 58px;
  opacity: 1;
  text-align: left;
}
.v3_51 {
  width: 606px;
  color: rgba(119,141,163,1);
  position: absolute;
  top: 301px;
  left: 417px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
#github {
  width: 94px;
  height: 94px;
  background: url("../images/v3_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 20px;
  overflow: hidden;
}
#githubShell {
  width: 94px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
#githubImg {
  width: 90px;
  height: 90px;
  background: url("../images/v3_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v3_52 {
  width: 575px;
  height: 552px;
  background: rgba(119,141,163,1);
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 417px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v3_66 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 446px;
  overflow: hidden;
}
.v3_53 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_54 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_67 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 446px;
  overflow: hidden;
}
.v3_68 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_69 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_83 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 446px;
  overflow: hidden;
}
.v3_84 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_85 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_86 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 446px;
  overflow: hidden;
}
.v3_87 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_88 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_89 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 677px;
  left: 446px;
  overflow: hidden;
}
.v3_90 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_91 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_92 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 446px;
  overflow: hidden;
}
.v3_93 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_94 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_80 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 446px;
  overflow: hidden;
}
.v3_81 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_82 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v3_74 {
  width: 531px;
  height: 38px;
  background: url("../images/v3_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 446px;
  overflow: hidden;
}
.v3_75 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Droid Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_76 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
